:root {
  --primary: #7DC8E8;
}

.app {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.app__initial-question-area {
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.app__textarea {
  min-height: 50px;
  outline: none;
  font-size: 18px;
  margin: 10px 0;
}

.app__button {
  width: auto;
  font-size: 18px;
  padding: 10px 10px;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 5px;
  box-sizing: none;
  border: none;
  outline: none;
  align-self: flex-start;
}
